[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "r4ds.tutorials"]
	path = r4ds.tutorials
	url = https://github.com/ppbds/r4ds.tutorials
[submodule "tutorial.helpers"]
	path = tutorial.helpers
	url = https://github.com/ppbds/tutorial.helpers
